body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:white;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	overflow: clip;
}

canvas {
	height: 100%;
	width: 100%;
	display: block;
	z-index: -1;
}
.overlay {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 0;
}
.draggables {
	position:absolute;
	top: 0px;
	left: 0px;
}

.window {
	position: absolute;
	width: fit-content;
}
.window .header {
	padding: 0.2em 0.5em;
	/*margin: -0.5em -0.5em 0.1em -0.5em;*/
	background-color: rgba(0, 64, 128, 0.75);
	border-color: black;
	border-width: 0.3em;
	border-radius: 0.5em 0.5em 0px 0px;
	border-style: double;
	width: max-content;
	cursor: grab;
}
.window .header::after {
	content: "\25BC";
	display: inline-block;
	margin-left: 1em;
}
.window-minimized .header::after {
	transform: rotate(-90deg);
}
.window-minimized .header {
	border-radius: 0.5em;
}
.window-minimized .content {
	transform: scale(1, 0);
}
.window .content {
	background-color: rgba(44, 44, 44, 0.75);
	border-color: black;
	border-width: 0px 0.3em 0.3em 0.3em;
	border-radius: 0px 0px 0.5em 0.5em;
	border-style: double;
	padding: 0.5em;
}