body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:white;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	overflow: clip;
}

canvas {
	height: 100%;
	width: 100%;
	display: block;
	z-index: -1;
}
.overlay {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 0;
}
.draggables {
	position:absolute;
	top: 0px;
	left: 0px;
}

.window {
	position: absolute;
	width: fit-content;
}
.window>*{
	padding: 0.2em 0.5em;
}
.window>summary {
	/*margin: -0.5em -0.5em 0.1em -0.5em;*/
	background-color: rgba(0, 64, 128, 0.75);
	border-color: black;
	border-width: 0.3em;
	border-radius: 0.5em;
	border-style: double;
	width: max-content;
	cursor: grab;
}
.window[open]>summary {
	width: 100%;
	min-width: max-content;
	border-radius: 0.5em 0.5em 0px 0px;
}
.window>.content {
	width: 100%;
	background-color: rgba(44, 44, 44, 0.75);
	border-color: black;
	border-width: 0px 0.3em 0.3em 0.3em;
	border-radius: 0px 0px 0.5em 0.5em;
	border-style: double;
	padding: 0.5em;
}

.object_descriptor {
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	padding: 0.1em 0.2em 0.1em 0.3em;
	
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}
.object_descriptor em {
	color: lightgray
}
.object_descriptor>summary {
	border-style: none;
	margin-left: 0.2em;
	padding-left: 0.5em;
}

.property_display {
	height: fit-content;
	display: flex;
}
.property_display span:first-child {
	flex-grow: 1;
}
.property_display>input {
	width: fit-content;
	display: inline-block;
}

.vector_property_display>input {
	width: 3em;
}
.delete_object_button {
	background-color: darkred;
	color:white;
	border-color: red;
	border-radius: 0.2em;

}