.hexedit {
    font-family: monospace;
    font-weight: normal;
    display:grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding-right: 1em;
}
.hexedit .labels {
    display:grid;
    grid-template-columns: auto;
    margin-right: 1.5em;
}
.hexedit .labels, .hexedit .top-labels {
    font-weight: bold;
    position: sticky;
    top: 0px;
    background: silver;
    z-index: 1;
}
.hexedit .top-labels {
    display: grid;
    grid-template-columns: repeat(16, 1.6em);
}
.hexedit .data {
    display: grid;
    grid-template-columns: repeat(16, 1.6em);
}
.hexedit .data *{
    background: white;
    /*border-left: dotted 1px black;*/
}

.hexedit .data *:nth-child(even){
    filter: brightness(92.5%);
}
.hexedit .padding {
    width: 100%;
    height: 100%;
    display: block;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    z-index: 3;
}

#memory .data * {
    border-bottom: 1px;
    border-bottom-style: dashed;
}
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
#memory {
    margin: auto;
    width: auto;
    height: auto;
    grid-column: 2;
}

main {
    margin:auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: xx-large;
    flex-grow: 1;
}

#drag_overlay {
    user-select: none;
    background-color: rgba(128, 128, 128, 0.5);
    position:fixed;
    display: table;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -100;
    opacity: 0;
    top:0px;
    left:0px;
}
#drag_overlay * {
    user-select: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: max-content;
    height: max-content;
}
nav {
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: center;
    width: 100%;
    background-color: lightgray;
    margin-bottom: 0.5em;
}

nav * {
    margin:0.5em;
}