nav {
	color: white;

}
#navigator {
	top: 25%;
	left: 25%;
}
nav>h1 {
	font-size: x-large;
	margin-bottom: 0.1em;
}
nav>*:first-child {
	margin-top: 0.2em;
}

#project-selector {
	display: flex;
	flex-direction: row;
}
#project-selector>*, #back-to-main{
	background-color: rgb(32, 32, 32);
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: white;
	border-width: 0.15em;
	border-radius: 0.5em;
	margin: 1em;
	padding: 1em;
	color: white;
}
#project-selector a img{
	width: 6cm;
	height: 6cm;
}

/*	The styling of the overlay which shows up when you drag and drop files onto the page	*/
#drag-overlay {
	user-select: none;
	background-color: rgba(128, 128, 128, 0.5);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: -100;
	opacity: 0;
	top: 0px;
	left: 0px;
}
#drag-overlay * {
	user-select: none;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	width: max-content;
	height: max-content;
}
#fake-dropzone {
	user-select: none;
	text-align: center;
	display: table;
	border: 0.5em dashed;
	border-radius: 4em;
	background-color: rgba(128, 128, 128, 0.75);
	font-size: xx-large;
	width: 75%;
	height: 75%;
}
#fake-dropzone * {
	margin:auto;
}
#back-to-main {
	margin-right: 2.5em;
	text-align: center;
}
nav summary * {
	display: inline;
}